<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h2 class="example-app-name" style="margin-bottom: 0;">Admin DashBoard</h2>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" style="width: 17%;">
      <mat-nav-list>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngSwitch]="node.name">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <a *ngSwitchCase="'Người dùng'" style="text-decoration: none;color: black;"
              routerLink="list-user">{{node.name}} </a>
            <a *ngSwitchCase="'Nghệ sĩ'" style="text-decoration: none;color: black;"
              routerLink="support-menu">{{node.name}} </a>
            <a *ngSwitchCase="'Chương trình'" style="text-decoration: none;color: black;"
              routerLink="support-menu">{{node.name}} </a>
            <a *ngSwitchCase="'Tin tức'" style="text-decoration: none;color: black;"
              routerLink="support-menu">{{node.name}} </a>
            <a *ngSwitchCase="'Loại địa điểm'" style="text-decoration: none;color: black;"
              routerLink="location-type">{{node.name}} </a>
            <a *ngSwitchCase="'Địa điểm'" style="text-decoration: none;color: black;"
              routerLink="list-location">{{node.name}}
            </a>
            <a *ngSwitchCase="'Menu hỗ trợ'" style="text-decoration: none;color: black;"
              routerLink="support-menu">{{node.name}} </a>
            <a *ngSwitchCase="'Đăng xuất'" style="text-decoration: none;color: black;cursor: pointer;"
              (click)="logOut()">{{node.name}} </a>
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </mat-tree-node>
        </mat-tree>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div [@routeAnimation]="getAnimationData()">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>