<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="customForm" (ngSubmit)="createOrUpdate()">
                <input type="hidden" formControlName="programId" />
                <div class="example-container">
                    <mat-form-field appearance="outline" style="width: 45%;">
                        <mat-label>Tên chương trình</mat-label>
                        <input matInput placeholder="Vui lòng điền tên chương trình" formControlName="programName">
                        <mat-error *ngIf="customForm.hasError('required', 'programName')">
                            Vui lòng điền tên chương trình
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 45%;">
                        <mat-label>Nội dung</mat-label>
                        <textarea matInput placeholder="Vui lòng điền nội dung"
                            formControlName="programContent"></textarea>
                        <mat-error *ngIf="customForm.hasError('required', 'programContent')">
                            Vui lòng điền nội dung
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="example-container">
                    <mat-form-field appearance="outline" style="width: 45%;">
                        <mat-label>Giờ khai mạc</mat-label>
                        <mat-select formControlName="programTime">
                            <mat-option value="07:00">07:00</mat-option>
                            <mat-option value="08:00">08:00</mat-option>
                            <mat-option value="09:00">09:00</mat-option>
                            <mat-option value="10:00">10:00</mat-option>
                            <mat-option value="11:00">11:00</mat-option>
                            <mat-option value="12:00">12:00</mat-option>
                            <mat-option value="13:00">13:00</mat-option>
                            <mat-option value="14:00">14:00</mat-option>
                            <mat-option value="15:00">15:00</mat-option>
                            <mat-option value="16:00">16:00</mat-option>
                            <mat-option value="17:00">17:00</mat-option>
                            <mat-option value="18:00">18:00</mat-option>
                            <mat-option value="19:00">19:00</mat-option>
                            <mat-option value="20:00">20:00</mat-option>
                            <mat-option value="21:00">21:00</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 45%;">
                        <mat-label>Thời gian diễn ra</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="programTdate" placeholder="Start date">
                            <input matEndDate formControlName="programFdate" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <mat-error *ngIf="customForm.hasError('matStartDateInvalid', 'programTdate')">Invalid start
                            date</mat-error>
                        <mat-error *ngIf="customForm.hasError('matEndDateInvalid', 'programFdate')">Invalid end
                            date</mat-error>
                    </mat-form-field>
                </div>

                <div class="example-container">
                    <mat-form-field appearance="outline" style="width: 45%;">
                        <mat-label>Loại chương trình</mat-label>
                        <mat-select formControlName="programType">
                            <mat-option value="true">Tiêu điểm</mat-option>
                            <mat-option value="false">Cộng đồng</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 45%;">
                        <mat-label>Bán vé</mat-label>
                        <mat-select formControlName="typeInOff" (selectionChange)="changeState()">
                            <mat-option value="true">Có</mat-option>
                            <mat-option value="false">Không</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="example-container" [hidden]="!isSell">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 45%;">
                        <mat-label>Giá tiền</mat-label>
                        <input matInput type="number" formControlName="programPrice" class="example-right-align"
                            placeholder="0">
                        <span matTextSuffix>vnđ</span>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 45%;">
                        <mat-label>Tổng số vé</mat-label>
                        <input matInput type="number" formControlName="totalTicket" class="example-right-align"
                            placeholder="0">
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" style="width: 45%;">
                    <mat-label>Loại địa điểm</mat-label>
                    <mat-select formControlName="locationId">
                        <mat-option *ngFor="let item of locations" [value]="item.locationId">
                            {{item.locationName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div>
                    <img [src]="item" style="width: 100%; height: auto; margin-bottom: 20px;"
                        *ngFor="let item of arrImage">
                </div>

                <div class="btn btn-warning" style="color: white; margin-right: 10px;"
                    onclick="document.getElementById('inputFile').click();">
                    <input style="display: none;" id="inputFile" (change)="onChangeFile($event)" type="file" multiple
                        max="3" />
                    <i class="fa fa-folder"></i> Chọn ảnh
                </div>
                <button mat-raised-button color="primary" type="submit">{{ btnValue }}</button>
            </form>
        </div>
    </div>
</div>