<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <form [formGroup]="customForm" (ngSubmit)="createOrUpdate()">
                <input type="hidden" formControlName="newsId" />

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tiêu đề</mat-label>
                    <input matInput placeholder="Vui lòng điền tiêu đề" formControlName="newsTitle">
                    <mat-error *ngIf="customForm.hasError('required', 'newsTitle')">
                        Vui lòng điền tiêu đề
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nội dung</mat-label>
                    <textarea matInput placeholder="Vui lòng điền nội dung" formControlName="newsContent"></textarea>
                    <mat-error *ngIf="customForm.hasError('required', 'newsContent')">
                        Vui lòng điền nội dung
                    </mat-error>
                </mat-form-field>

                <img [src]="mySrc" style="width: 100%; height: auto; margin-bottom: 20px;">

                <div class="btn btn-warning" style="color: white; margin-right: 10px;"
                    onclick="document.getElementById('inputFile').click();">
                    <input style="display: none;" id="inputFile" (change)="onChangeFile($event)" type="file" />
                    <i class="fa fa-folder"></i> Chọn ảnh
                </div>
                <button mat-raised-button color="primary" type="submit">{{ btnValue }}</button>
            </form>
        </div>
    </div>
</div>