<div class="container my-5">
  <div style="padding-bottom: 20px;">
    <a [routerLink]="['create','']" class="btn btn-primary">Thêm mới</a>
  </div>
  <table class="table table-striped" *ngIf="supportMenus && supportMenus.length > 0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th scope="col">User</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supportMenu of supportMenus">
          <th scope="row">{{ supportMenu.supportMenuId }}</th>
          <td>{{ supportMenu.supportMenuTitle }}</td>
          <td>{{ supportMenu.supportMenuContent }}</td>
          <td>{{ supportMenu.userId }}</td>
          <td>
            <a [routerLink]="['update', supportMenu.supportMenuId]">Chi tiet</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!supportMenus || supportMenus.length <= 0">No Support Menu Found</p>
</div>