<a href="{{news.newsImagePath == '' ? './assets/img/default-image.png' : news.newsImagePath.trim() }}">
    <img style="width: 100%;"
        src="{{news.newsImagePath == '' ? './assets/img/default-image.png' : news.newsImagePath.trim() }}" />
</a>
<div style="background-color: #f44336; height: 14vh; display: flex; color: aliceblue;">
    <div style="width: 50%;" (click)="like()">
        <mat-icon
            style="font-size: 40px; padding-top: 10px; width: 100%; height: auto; text-align: center;">favorite</mat-icon>
        <p style="text-align: center;">Thích</p>
    </div>

    <div style="width: 50%;">
        <mat-icon
            style="font-size: 40px;padding-top: 10px; width: 100%; height: auto; text-align: center;">bookmark</mat-icon>
        <p style="text-align: center;">Lưu</p>
    </div>
</div>
<div style="padding-left: 10px;">
    <h1><b>{{ news.newsTitle }}</b></h1>
    <h6>{{ news.newsDate}}</h6>
</div>
<hr />
<p style="padding-left: 10px;">
    {{ news.newsContent }}
</p>