<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">feed</mat-icon>
            Tiêu điểm
        </ng-template>

        <mat-form-field style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter1($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource1" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="No.">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row;" style="width: 5%;">
                    <a [routerLink]="['../program-detail', row.programId]">
                        <img style="width: 100%;"
                            src="{{row.programImagePath == '' || row.programImagePath == null ? './assets/img/default-image.png' : row.programImagePath.trim() }}" />
                    </a>
                    <p style="padding: 10px;"><b>{{row.programName}}</b></p>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" (click)="onClickProgramDate()">calendar_month</mat-icon>
            Lịch diễn
        </ng-template>

        <div *ngFor="let item of programDates">
            <a [routerLink]="['../program-date', item.dateTime == null ? 0 : getDay(item.dateTime.toString())]" style="text-decoration: none; color: black;">
                <div style="float: left; width: 33.33%; color: aliceblue; background-color: #f44336;">
                    <p style="text-align: center; font-size: 36px; padding: 20px; background-color: #f44336;">
                        {{ item.dateTime == null ? '' : getDay(item.dateTime.toString()) }}
                    </p>
                    <p
                        style="text-align: center; font-size: 18px; background-color: #820c04; margin: 0%; padding: 10px;">
                        Tháng {{ item.dateTime == null ? '' : getMonth(item.dateTime.toString()) }}
                    </p>
                </div>
                <div style="float: left; width: 66.66%; background-color: #d3bbbb;">
                    <p style="text-align: center; font-size: 26px; padding-top: 30px; text-decoration: underline;">
                        {{ item.dateTime == null ? '' : getDayOfWeek(item.dateTime.toString()) }}
                    </p>
                    <p style="text-align: center; font-size: 14px; padding: 15px; margin: 0%;">
                        Có {{ item.totalProgram }} chương trình
                    </p>
                </div>
                <div class="clear-fix"></div>
                <p style="background-color: aliceblue; height: 1vh;"></p>
            </a>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">groups</mat-icon>
            Cộng đồng
        </ng-template>

        <mat-form-field style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource2" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="No.">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row;" style="width: 5%;">
                    <a [routerLink]="['../program-detail', row.programId]">
                        <img style="width: 100%;"
                            src="{{row.programImagePath == '' ? './assets/img/default-image.png' : row.programImagePath.trim() }}" />
                    </a>
                    <p style="padding: 10px;"><b>{{row.programName}}</b></p>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" (click)="onClickArtist()">thumb_up</mat-icon>
            Nghệ sĩ
        </ng-template>

        <mat-form-field style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter3($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource3" matSort>
            <!-- Path Column -->
            <ng-container matColumnDef="No.">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <img style="width: 100%;"
                        src="{{row.artistImagePath == '' ? './assets/img/default-image.png' : row.artistImagePath.trim() }}" />
                    <p style="padding: 10px;"><b>{{ row.artistName }}</b></p>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-tab>
</mat-tab-group>