<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supportmenu of supportmenus">
        <th scope="row">1</th>
        <td>{{ supportmenu.supportMenuTitle }}</td>
        <td>{{ supportmenu.supportMenuContent }}</td>
        <td>{{ supportmenu.userId }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!supportmenus">Not Found</p>