<div class="parent">
    <mat-card class="my-card">
        <mat-card-content>
            <h1 class="my-h1">Đổi mật khẩu</h1>
            <form [formGroup]="resetPasswordForm">

                <div class="form-child">
                    <mat-form-field appearance="outline" style="width: 70%;">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="userEmail" placeholder="Vui lòng nhập email">
                        <button mat-icon-button matSuffix>
                            <mat-icon>mail</mat-icon>
                        </button>
                        <mat-error *ngIf="resetPasswordForm.hasError('email', 'userEmail') 
                            && !resetPasswordForm.hasError('required', 'userEmail')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.hasError('required', 'userEmail')">
                            Vui lòng điền email
                        </mat-error>
                    </mat-form-field>

                    <button mat-button [disabled]="resetPasswordForm.get('userEmail')?.invalid || !isValid"
                        (click)="onSubmitEmail()">&nbsp;{{ btnValue }}</button>
                </div>

                <div class="form-child" [hidden]="isValid">
                    <p style="text-align: center; color: #0d6efd; width: 100%;" [hidden]="isValid">
                        Mã xác minh chỉ có hiệu lực trong {{ timeLeft }} (s)
                    </p>

                    <mat-form-field appearance="outline" style="width: 70%;">
                        <mat-label>Mã xác minh</mat-label>
                        <input matInput formControlName="activeCode" placeholder="Vui lòng nhập mã xác minh">
                        <button mat-icon-button matSuffix>
                            <mat-icon>key</mat-icon>
                        </button>
                        <mat-error *ngIf="resetPasswordForm.hasError('required', 'activeCode')">
                            Vui lòng nhập mã xác minh
                        </mat-error>
                    </mat-form-field>

                    <button mat-button [disabled]="resetPasswordForm.get('activeCode')?.invalid"
                        (click)="onSubmitCode()">&nbsp;Xác nhận</button>
                </div>

                <div class="form-child" [hidden]="!isCorrect">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Mật khẩu</mat-label>
                        <input matInput formControlName="userPassword" [type]=" hide ? 'password' : 'text'"
                            placeholder="Vui lòng nhập mật khẩu">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetPasswordForm.hasError('required', 'userPassword')">
                            Vui lòng nhập mật khẩu
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Nhập lại mật khẩu</mat-label>
                        <input matInput formControlName="confirmPassword" [type]=" hide ? 'password' : 'text'"
                            placeholder="Vui lòng nhập lại mật khẩu"> 
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetPasswordForm.hasError('required', 'confirmPassword')">
                            Vui lòng nhập lại mật khẩu
                        </mat-error>
                    </mat-form-field>

                    <div class="form-child">
                        <button mat-raised-button color="accent" style="width: 100%;" (click)="onChangePassword()">
                            Đăng ký
                        </button>
                    </div>
                </div>

                <p class="form-child" style="text-align: center;">
                    Quay lại
                    <a ariaCurrentWhenActive="page" routerLink="../login">Đăng nhập</a>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>