<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <form [formGroup]="customForm">
                <input type="hidden" formControlName="supportMenuId" />
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Tiêu đề</mat-label>
                        <input matInput placeholder="Vui lòng điền tiêu đề" formControlName="supportMenuTitle">
                        <mat-error *ngIf="customForm.hasError('required', 'supportMenuTitle')">
                            Vui lòng điền tiêu đề
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Nội dung</mat-label>
                        <textarea matInput placeholder="Vui lòng điền tiêu đề" formControlName="supportMenuContent"></textarea>
                        <mat-error *ngIf="customForm.hasError('required', 'supportMenuContent')">
                            Vui lòng điền nội dung
                        </mat-error>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="primary" (click)="createOrUpdate()">{{ btnValue }}</button>
            </form>
        </div>
    </div>
</div>